body {
	margin: 0;
	padding: 0;
	background:#1e1e1e;
}

p {
	font-size: 10;
	line-height: 10px;
	text-align: justify;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(file:///C:/Users/user/Desktop/meg/images/bbb.png);
	background-attachment: fixed;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgb(225, 225, 225, 0);
}